<!DOCTYPE html>
<html lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="BananaUploader:دانلود سریع و رایگان فایل از تلگرام با تبدیل فایل به لینک مستقیم">
    <meta name="keywords" content="ربات تلگرام فایل به لینک مستقیم,دانلود سریع از تلگرام,تبدیل فایل به لینک,تبدیل ویدیو به لینک,ربات دانلود تلگرام,دانلود فایل پرحجم و سنگین از تلگرام,ربات تلگرام دانلود فایل">
    <meta name="author" content="BananaUploader,موزآپلودر">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BananaUploader - آپلود و دانلود ساده</title>
    <!-- Linking to external Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
    <!-- Linking to external CSS -->
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header style="direction: ltr;">
        <div class="container">
            <nav>
                <h1 class="logo">BananaUploader</h1>
                <ul>
                    <li><a href="#features">ویژگی‌ها</a></li>
                    <li><a href="#bot">درباره ربات</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="hero">
        <div class="container hero-content">
            <h2>ساده‌ترین راه برای دانلود فایل‌ها</h2>
            <p>با استفاده از ربات ما، فایل‌های خود را به راحتی دانلود کنید.</p>
            <a class="btn" href="https://t.me/Bananauploader_bot">ورود به ربات</a>
            <a href="#features" class="btn">بیشتر بدانید</a>
        </div>
    </section>

    <section id="features">
        <div class="container">
            <h2>ویژگی‌ها</h2>
            <div class="feature-grid">
                <div class="feature-item">
                    <i class="icon fas fa-robot"></i>
                    <h3>ربات هوشمند</h3>
                    <p>ربات ما به شما کمک می‌کند تا دانلود فایل‌ها به طور خودکار و سریع‌تر انجام شود.</p>
                </div>
                <div class="feature-item">
                    <i class="icon fas fa-shield-alt"></i>
                    <h3>امنیت بالا</h3>
                    <p>تمامی فایل‌های شما به صورت ایمن نگهداری و به سرعت پردازش می‌شوند.</p>
                </div>
                <div class="feature-item">
                    <i class="icon fas fa-download"></i>
                    <h3>دانلود سریع</h3>
                    <p>با چند کلیک ساده، فایل‌های خود را به سرعت دانلود کنید.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="bot">
        <div class="container">
            <h2>درباره ربات</h2>
            <p>ربات موز آپلودر به شما کمک میکند تا در کمترین زمان و به صورت رایگان فایل های حجیم وسنگین خود را دانلود کنید.
                این ربات با تبدیل فایل و ویدیو های شما به لینک مستقیم مانع فیلترشکن را از سر راه برمیدارد تا شما بتوانید با سرعت بالا و در کمترین زمان فایل های خود را دانلود کنید.
             </p>

            <img src="/static/bot-image.png" alt="ربات BananaUploader">
        </div>
    </section>

    <footer id="contact">
    </footer>

    <script src="/static/scripts.js"></script>
</body>
</html>
